body, ul {
    margin: 0;
    padding: 0;
}
main {
    padding-top: 80px;
}
nav {
    background-color: #009e6f; 
    color: #fff; 
    display: flex; 
    align-items: center;
    padding: 10px 20px; 
    position:sticky;
    top:0;
    z-index: 999;
}
nav h1 {
    margin-right: auto;
}

nav h1 img {
    height: 30px;
    margin-left: 10px; 
}

.menu {
    list-style: none; 
    display: flex; 
}

.menu li {
    margin-left: 20px;
}

.menu li a {
    color: #fff; 
    text-decoration: none; 
}

.menu li:first-child {
    margin-left: 0; 
}

